@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .display,
  .display-large,
  .display-small,
  .headline,
  .headline-large,
  .headline-small,
  .title,
  .title-large,
  .title-small,
  .label,
  .label-large,
  .label-small,
  .body,
  .body-large,
  .body-small {
    margin: 0;
  }

  .display,
  .display-large,
  .display-small {
    font-style: normal;
    font-weight: normal;
    font-size: 2.813rem;
    line-height: 3.25rem;
  }
  .display-large {
    font-size: 3.563rem;
    line-height: 4rem;
    letter-spacing: -0.016rem;
  }
  .display-small {
    font-size: 2.25rem;
    line-height: 2.75rem;
  }

  .headline,
  .headline-large,
  .headline-small {
    font-style: normal;
    font-weight: normal;
    font-size: 1.75rem;
    line-height: 2.25rem;
  }
  .headline-large {
    font-size: 2rem;
    line-height: 2.5rem;
  }
  .headline-small {
    font-size: 1.5rem;
    line-height: 2rem;
  }

  .title,
  .title-large,
  .title-small {
    font-style: normal;
    font-weight: 500;
    font-size: 1rem;
    line-height: 1.5rem;
    letter-spacing: 0.006rem;
  }
  .title-large {
    font-size: 1.375rem;
    line-height: 1.75rem;
    letter-spacing: 0;
  }
  .title-small {
    font-size: 0.875rem;
    line-height: 1.25rem;
    letter-spacing: 0.006rem;
  }

  .label,
  .label-large,
  .label-small {
    font-style: normal;
    font-weight: 500;
    font-size: 0.75rem;
    line-height: 1rem;
    letter-spacing: 0.031rem;
  }
  .label-large {
    font-size: 0.875rem;
    line-height: 1.25rem;
    letter-spacing: 0.006rem;
  }
  .label-small {
    font-size: 0.688rem;
    line-height: 1rem;
    letter-spacing: 0.031rem;
  }

  body,
  .body,
  .body-large,
  .body-small {
    font-style: normal;
    font-weight: normal;
    font-size: 0.875rem;
    line-height: 1.25rem;
    letter-spacing: 0.016rem;
  }
  .body-large {
    font-size: 1rem;
    line-height: 1.5rem;
    letter-spacing: 0.031rem;
  }
  .body-small {
    font-size: 0.75rem;
    line-height: 1rem;
    letter-spacing: 0.025rem;
  }

  input:focus,
  textarea:focus {
    outline: none;
  }
}

* {
  box-sizing: border-box;
}
html,
body,
#__nuxt {
  min-height: 100vh;
}
body {
  margin: 0;
}
#__nuxt {
  @apply bg-background text-on-background;
}

body,
input,
input::placeholder,
button {
  font-family: "Poppins", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
